.Project {
    margin-bottom: 100px;
}

.Project img {
    /* border: 1px solid black; */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    width: 500px; height: auto;
}

.Project .project-info {
    margin-left: 40px;
} 

.Project h4 {
    text-transform: uppercase;
}