@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Raleway', 'Roboto', sans-serif;
  font-weight: 300;
}

.App {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .App {
    width: 90%;
  }
}

@media screen and (min-width: 960px) {
  .App {
    width: 800px;
  }
}

