.Navigation {
    font-size: 18px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 30px;
}

.navigation-menu-topleft,
.navigation-menu-topright {
    display: flex;
}

.branding-title {
    font-weight: 200;
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.branding-link {
    color: #1F51FF;
    text-decoration: none;
}
  
.navigation-link {
    color: #00071F;
    text-decoration: none;

    display: block;
    font-weight: 400;
    padding: 5px 20px;
    transition: color 0.3s linear;
}
  
.navigation-link:hover {
    color: #1F51FF;
}
  
.navigation-link:active {
    color: white;
    background-color: #00071F
}

.line {
    background-color: #00071F;
    margin: 0 auto;
    height: 1px;
    width: 200px;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 699px) {
    .Navigation {
        position: relative;
    }

    .navigation-menu-topleft {
        display: none;
    }

    .navigation-menu-topright {
        display: none;
    }

    .branding {
        display: block;
        margin: 0 auto;
    }

    .branding-title {
        margin-bottom: 30px;
    }
    
    .mobile-menu {
        background: #00071F;
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        z-index: 5;
    }

    .menu-header {
        color: white;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        z-index: 2;
        margin: 0;
        padding: 20px;
    }
    
}

@media screen and (min-width: 601px) {
    /* .Navigation .icon {
        display: none;
    }
    
    .Navigation .nav-links {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    } */
}

