.Navigation {
    font-size: 18px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 30px;
}

h1 {
    font-weight: 200;
    font-size: 24px;
    margin-bottom: 30px;
}

h1 a {
    color: #1F51FF;
}
  
a {
    color: #00071F;
    text-decoration: none;

    display: block;
    font-weight: 400;
    padding: 5px 20px;
    transition: color 0.3s linear;
}
  
.menu-content-topleft a:hover,
.menu-content-topright a:hover {
    color: #1F51FF;
}
  
a:active {
    color: white;
    background-color: #1F51FF;
}

.line {
    background-color: #00071F;
    margin: 0 auto;
    height: 1px;
    width: 200px;
}

@media screen and (max-width: 600px) {
    .Navigation {
        position: relative;
    }
    
    /* .Navigation .nav-links {
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out;
        z-index: 10;
        position: absolute;
        right: 10px;
        top: 35px;
        padding: 5px 10px 5px 5px;
    }
    
    .Navigation .icon {
        display: block;
        font-size: 1.75em;
        position: absolute;
        right: 10px;
        top: 0;
    } */
    
}

@media screen and (min-width: 601px) {
    /* .Navigation .icon {
        display: none;
    }
    
    .Navigation .nav-links {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    } */
}

