.Home {
    position: relative;
    top: 50px;
}

.home-title {
    color: white;
    
}

.home-textline {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
    padding-left: 10px;
}

.home-textline:first-child {
    padding-top: 70px;
}

/* SQUARES AND COLORS */

.square {
    margin: 0 auto;
    width: 250px; height: 250px;
}

.darkblue {
    background-color:#00071F;
}

.square-front {
    position: relative;
    top: -230px;
    left: -40px;
}

.brightblue {
    background-color:#1F51FF;
}

.intro {
    margin: 0 auto;
    position: relative;
    bottom: 160px;
    left: 26px;
    width: 380px;
}

.intro-textline {
    font-size: 20px;
    line-height: 1.25;
}

.intro-textline:not(:last-child) {
    margin-bottom: 30px;
}

.intro-link {
    border: 1px solid #1F51FF;
    color: #00071F;
    display: inline-block;
    font-weight: 500;
    margin: 0 4px;
    padding: 2px 10px;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .intro {
        left: 5px;
        width: 310px;
    }

    .square-front {
        left: -20px;
    }

    .square-back {
        left: 10px;
    }
     
}